<div class="footer_container footer_bgr">
	<div class="footer_red_line">
		<div class="footer_red_side footer_red_line_left">
			<img src="<%= asset_path("footer-line_left.png") %>"/>
		</div>
		<div class="footer_red_side footer_red_line_center"></div>
		<div class="footer_red_side footer_red_line_right">
			<img src="<%= asset_path("footer-line_right.png") %>"/>
		</div>
	</div>	
	<div class="content page_content_margin footer_bgr">
		<h2>Контактная информация</h2>

		<script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=Ah4acKDLUm4ggAudRgEw_pF2Ujzdrrj5&width=100%&height=300&lang=ru_RU&sourceType=constructor&id=map"></script>

		<div id="map"></div>

		<div class="footer_info_line">
			<span class="footer_text dark_gray_text">Тел.</span>
			<span class="footer_text light_text">+7(383)299-42-43</span>
		</div>
		<div class="footer_info_line">
			<span class="footer_text dark_gray_text">E-mail:</span>
			<a href="info@av-design.ru" class="footer_text light_text">info@av-design.ru</a>
		</div>
		<div class="footer_info_line">
			<span class="footer_text dark_gray_text">Наш магазин находится по адресу:</span>
			<span class="footer_text light_text">г. Новосибирск, ул. Ленина, д.55, (метро "Площадь Гарина-Михайловского")</span>
		</div>
		
		<span class="footer-copy dark_gray_text">Все права принадлежат ООО "Аудио-Видео дизайн", 2015г., Новосибирск.</span>
	</div>
</div>