<!-- Шапочка от верха страницы до конца меню-->
<div class="header">
	<img class="logo" src="<%= asset_path("header/head_logo.png") %>"/>
	<ul ng-bxslider>
		<li><img src="<%= asset_path("banner_1.jpg") %>" /></li>
		<li><img src="<%= asset_path("banner_2.jpg") %>" /></li>
		<li><img src="<%= asset_path("banner_3.jpg") %>" /></li>
	</ul>
	<div class="menu">
		<div class="menu_line">
			<div class="item_menu">
				<label class="item_menu_label">Проектирование</label>
				<div class="circle">
					<div class="item_menu_icon item_menu_1"></div>
					<div class="halfclip">
						<div class="halfcircle clipped"></div>
					</div>
					<div class="halfcircle fixed"></div>
				</div>
			</div>
			<div class="item_menu">
				<label class="item_menu_label">Профессиональный подбор компонентов</label>
				<div class="circle">
					<div class="item_menu_icon item_menu_2"></div>
					<div class="halfclip">
						<div class="halfcircle clipped"></div>
					</div>
					<div class="halfcircle fixed"></div>
				</div>
			</div>
			<div class="item_menu">
				<label class="item_menu_label">Установка и настройка оборудования</label>
				<div class="circle">
					<div class="item_menu_icon item_menu_3"></div>
					<div class="halfclip">
						<div class="halfcircle clipped"></div>
					</div>
					<div class="halfcircle fixed"></div>
				</div>
			</div>
		</div>
		<div class="menu_line" style="margin-top: -60px;">
			<div class="item_menu">
				<label class="item_menu_label">Гарантийное и сервисное обслуживание</label>
				<div class="circle">
					<div class="item_menu_icon item_menu_4"></div>
					<div class="halfclip">
						<div class="halfcircle clipped"></div>
					</div>
					<div class="halfcircle fixed"></div>
				</div>
			</div>
			<div class="item_menu">
				<label class="item_menu_label">Сотрудничество с оранизациями</label>
				<div class="circle">
					<div class="item_menu_icon item_menu_5"></div>
					<div class="halfclip">
						<div class="halfcircle clipped"></div>
					</div>
					<div class="halfcircle fixed"></div>
				</div>
			</div>
		</div>
	</div>
</div>