<div id="cooperation">
	<div class="header_page">
		<img src="<%= asset_path("head_left.png") %>"/>
		<h3>Сотрудничество с проектными организациями и дизайнерами</h3>
		<div class="header_logo_with_container">
			<img src="<%= asset_path("head_right.png") %>"/>
			<span class="header_page_logo header_page_logo_5"></span>
		</div>
	</div>
	<div class="images page_content_margin">
		<img src="<%= asset_path("img_cooperation.png") %>"/>
	</div>
	<div class="description page_content_margin content">
		<%= Section.get_description(Section::COOPERATION).html_safe %>
	</div>
</div>