<!-- Раздел большой -->
<div>
	<div class="header_page">
		<img src="<%= asset_path("head_left.png") %>"/>
		<h3>Профессиональная установка и настройка оборудования</h3>
		<div class="header_logo_with_container">
			<img src="<%= asset_path("head_right.png") %>"/>
			<span class="header_page_logo header_page_logo_3"></span>
		</div>
	</div>
	
	<div class="page_content_margin content clear">
		<ul class="pages_type list_inline page_content_margin">
			<li>ФОТОГАЛЕРЕЯ</li>
			<li class="active">ВИДЕОГАЛЕРЕЯ</li>
		</ul>
		
		<ul class="page_gallery page_content_margin list_inline">
			<li class="gallery_item">
				<div class="gallery_item_header">
					<label class="gallery_item_icon gallery_item_apartment"></label>
					<div class="gallery_item_preview"></div>
				</div>
				<span class="gallery_item_title">Заголовок объекта №1</span>
			</li>
			
			<li class="gallery_item">
				<div class="gallery_item_header">
					<label class="gallery_item_icon gallery_item_apartment"></label>
					<div class="gallery_item_preview"></div>
				</div>
				<span class="gallery_item_title">Заголовок объекта №2</span>
			</li>
			
			<li class="gallery_item">
				<div class="gallery_item_header">
					<label class="gallery_item_icon gallery_item_cottage"></label>
					<div class="gallery_item_preview"></div>
				</div>
				<span class="gallery_item_title">Заголовок объекта №3</span>
			</li>
			
			<li class="gallery_item">
				<div class="gallery_item_header">
					<label class="gallery_item_icon gallery_item_cottage"></label>
					<div class="gallery_item_preview"></div>
				</div>
				<span class="gallery_item_title">Заголовок объекта №3</span>
			</li>
			
			<li class="gallery_item">
				<div class="gallery_item_header">
					<label class="gallery_item_icon gallery_item_apartment"></label>
					<div class="gallery_item_preview"></div>
				</div>
				<span class="gallery_item_title">Заголовок объекта №1</span>
			</li>
			
			<li class="gallery_item">
				<div class="gallery_item_header">
					<label class="gallery_item_icon gallery_item_apartment"></label>
					<div class="gallery_item_preview"></div>
				</div>
				<span class="gallery_item_title">Заголовок объекта №2</span>
			</li>
			
		</ul>
		
		<div class="pages_navigation_block">
			<ul class="pages_navigation list_inline">
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
			</ul>
		</div>
	</div>
	<div class="description page_content_margin content">
		<p>Установка и настройка оборудования - это не менее важный заключительный этап в построении аудио-видео системы. На данном этапе технически нужно воплощать в жизнь то, что было ранее задумано проектировщиком и дизайнером, обеспечить удобство использования, максимально реализовать звуковой потенциал вашей системы, обеспечить долговечность и бесперебойную работу оборудования. Все эти условия могут выполнить только специалисты высокого уровня подготовки с большим опытом работы в данной области. Наша компания уже более 10 лет успешно решает данные задачи, мы непрерывно совершенствуем свои навыки и повышаем качество выполнения работ.</p>
	</div>
</div>