<div>
	<div class="header_page">
		<img src="<%= asset_path("head_left.png") %>"/>
		<h3>Сотрудничество с проектными организациями и дизайнерами</h3>
		<div class="header_logo_with_container">
			<img src="<%= asset_path("head_right.png") %>"/>
			<span class="header_page_logo header_page_logo_5"></span>
		</div>
	</div>
	<div class="images page_content_margin">
		<div></div>
	</div>
	<div class="description page_content_margin content">
		<p>Дизайн интерьера квартиры, коттеджа или офиса является неотъемлемой частью проектирования жизненного пространства современного человека. Любой предмет, будь то люстра, шкаф или акустическая система, должны правильно вписываться в интерьер и не нарушать общей идеи дизайна. Мы получили большой положительный опыт от сотрудничества с проектными организациями, дизайнерскими бюро и частными дизайнерами. Только работая совместно у нас получалось создавать действительно эксклюзивные предложения и оригинальные решения для каждого клиента. Сегодня мы готовы расширять сферу сотрудничества и приглашаем всех, кто участвует в создании и строительстве современного жилья (дизайнеров, прорабов, проектные организации и т.д) для взаимовыгодного сотрудничества.</p>
	</div>
</div>