<div>
  <div>
    {{page}}
  </div>

  <input type="button" name="" value="1" ng-click="changePage(1)">
  <input type="button" name="" value="2" ng-click="changePage(2)">
  <input type="button" name="" value="3" ng-click="changePage(3)">
</div>